h1, p {
  font-family: Lato;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.096);
  text-align: center;
}
.h1 {
  text-align: center;
}
.btn-container {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn-genere {
  margin: 0 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.my-movie-container ul li {
  margin: 30px 30px;
  list-style-type: none;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 15px;
}
